<div class="wrapper">
  <div class="row">
    <div class="col s12 m6">
       {{#power-select
          options=clients
          selected=order.client
          searchPlaceholder="Search for Client"
          onchange=(action (mut order.client))
          as |client|
        }}
          {{client.fullName}}
        {{/power-select}}
    </div>
    <div class="col s12 m6">
      {{md-select content=orderTypes
        value=order.type
        label="Order Type"
        prompt="Please choose..."}}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{md-textarea value=order.note label='Note'}}
    </div>
  </div>
</div>