<div class="page-title mb-15">
  <h4 class="mb-5">
    Edit Order
    <small class="pull-right">
      {{#link-to 'dashboard.products'}}
        Products
      {{/link-to}}
    </small>
  </h4>
</div>

{{partial 'dashboard/orders/form'}}