<form class="text-center" {{action 'save' on='submit'}}>
  {{#orders/order-form-tabs}}
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3">
            <a class="active" href="#info">Info</a>
          </li>
          <li class="tab col s3">
            <a href="#items">Order Items</a>
          </li>
          <li class="tab col s3">
            <a href="#breakdown">Breakdown</a>
          </li>
        </ul>
      </div>
      <div id="info" class="tab">
        {{partial 'dashboard/orders/form-fields/info'}}
      </div>
      <div id="items" class="tab">
        {{partial 'dashboard/orders/form-fields/items'}}
      </div>
      <div id="breakdown" class="tab">
        {{partial 'dashboard/orders/form-fields/breakdown'}}
      </div>
    </div>
  {{/orders/order-form-tabs}}
</form>
