<div class="form-group m-0">
  {{search-input
    name='clientFirstNameCont'
    placeholder="Search for a client's order"
    param=clientFirstNameCont
    spellcheck=false
    type='text'}}

  {{md-input-date label='Date' value=date}}
</div>
