<div class="page-title mb-15">
  <h4 class="mb-5">
    Products
    <small class="pull-right">
      {{#link-to 'dashboard.products.new'}}
        Add new Product
      {{/link-to}}
    </small>
  </h4>
</div>

<div class="row">
  {{#each products as |product|}}
    <div class="col l3 m4 s6">
      {{products/product-item product=product}}
    </div>
  {{/each}}
</div>
