{{#md-navbar name='Pozolero' class='green'}}
  {{#link-to 'auth.sign-in' tagName='li'}}
    Sign in
  {{/link-to}}
  {{#link-to 'auth.sign-up' tagName='li'}}
    Sign up
  {{/link-to}}
{{/md-navbar}}

<div class="container">
  {{outlet}}
</div>